.container {
  max-width: 957px;
  width: 100%;
}

.title {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 26px;
}

.subTitle {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 14px;
}