* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  background-color: #FAFAFA;
  margin: 45px 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  position: relative;
}

.headingLg {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.headingMd {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.textStrong {
  font-weight: 500;
  font-size: 13px;
}

.textRegular {
  font-weight: 400;
  font-size: 12px;
}

.btnFont {
  font-weight: 600;
}
