.header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr 1fr;

  padding-left: 15px;
  padding-right: 12px;
  margin-bottom: 10px;
}

.itemName {
  position: relative;
  font-weight: 500;
  font-size: 11px;
  color: #999999;
  cursor: pointer;
  width: fit-content;
}

.chevron {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
}