.row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr 1fr;
  align-items: center;

  height: 70px;
  background-color: #fff;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 12px;
  cursor: pointer;
}

.row:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.status {
  font-size: 14px;
}

.name {
  color: #474747;
}

.type,
.site {
  color: #5C5C5C
}

.online {
  color: #1BDA9D;
}

.paused {
  color: #FF8346;
}

.draft {
  color: #5C5C5C;
}

.stopped {
  color: #FE4848;
}